<section class="pd box-border h-32 p-4 border-2 border-black flex items-center justify-center ">

<div class="flex flex-row items-center justify-center">
    <div class="box-border  flex flex-col items-center mx-4">
        <h1 class="text-pink-600 text-3xl font-serif">Contact Our</h1>
        <h2 class="text-3xl font-serif">Customer Support Center</h2>
    </div>

    <div class="grid grid-cols-1">
        <img class="max-h-36 p-5 box-border" src="../../assets/mac.png">
    </div>

</div>
  

</section>