<form class='bg-white rounded px-8 pt-6 mb-2'>

    <div class="grid mb-9">
    
    <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="DateNdTime">Date and time you first noticed this bug :</label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="datetime-local" id="datetime" name="date"/>
    </div>

    <div class="flex flex-col">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="bugImpct">Impact*</label>
        <select class="shadow e border rounded  w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"name="impact" id="impact">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>
    </div>

    </div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="DateNdTime">Detailed Explaination of the bug :</label>
        <input class="shadow appearance-none border rounded h-32 w-full px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" id="BugDetails" placeholder="Details"/>
    <div>

    </div>
</form>
